.labs {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.carregando {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100vw);
  height: calc(100vh - 100px);
}
.carregando img {
  width: 200px;
}
.spinner {
  animation: spinner-8k6ao5md 4s infinite;
  border-radius: 50%;
  transform-origin: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;

  max-width: 100%;
  min-height: 100%;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.filter input {
  width: 100%;
  height: 24px;
}
.filter select {
  width: 100%;
  height: 24px;
}
.filter label {
  padding-left: 2px;
  padding-right: 2px;
  display:flex;
  flex-direction:column;
  justify-content: end;
}

.avisoSala{
  display:flex;
  justify-content: center;
  width:100%;
}
.turmas-container {
  display: flex;
  flex-wrap: wrap;
}

.turma-column {
  flex: 1;
  min-width: 200px; /* Largura mínima para cada coluna */
  margin: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
}

h2, h3{
  display: flex;
  justify-content: center;
}


@keyframes spinner-8k6ao5md {
  0% {
    transform: perspective(224px) rotateY(0deg);
  }

  10% {
    transform: perspective(224px) rotateY(-65deg);
  }

  90%,
  100% {
    transform: perspective(224px) rotateY(2880deg);
  }
}
