@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: black;
  background-color: #f5f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;

  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

a {
  font-weight: 500;
  color: #161952;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  /*place-items: center;*/
  justify-content: center;
  /*align-items: center;*/

  /*width: auto;*/
  width: 100vw;
  height: 100vh;
  
}

#root {
  width: 100%;
  height: auto;
  min-height: calc(98vh - (var(--altNavBar) + var(--altFooter)));

}

.container {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  /*min-height: calc(100vh - (var(--altNavBar) + var(--altFooter))*2);*/
  min-height: calc(100vh/2 - (var(--altNavBar) + var(--altFooter)));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
