.card {
  background-color: #218257;
  color: white;
  width: auto;
  min-width: 300px;
  height: 250px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 2%;
}
.card-btn {
  background-color: #31ea9786;
  padding: 10px 10px;
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #f5f1f1;
  border-radius: 10px;
}
.card-btn:hover {
  background-color: #44c78c2b;
}
/*mobile*/
@media (max-width: 425px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 2%;
    padding: 10px;
  }
  .card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
