/*configuração das cores do NavBar*/
:root {
  --corFundoNavBar: rgb(255, 255, 255);
  --corFundoNavBarMenuMobile: rgb(240, 240, 240);

  --altNavBar: 60px;

  --corLink: #002e6e;
  --corLinkMouseOver: #28b578;
  --corLinkPaginaAtual: #28b578;

  --corMenuMobileBt: #002e6e;
}

header {
  z-index: 999;
  display: flex;
  width: 100%;
  min-width: 320px;
  height: var(--altNavBar);

  padding-left: 16px;
  padding-right: 16px;

  position: sticky;
  top: 0px;

  background-color: var(--corFundoNavBar);

  align-items: center;
}

.menuMobile,
.menuMobileBtdiv {
  display: none;
}

.menuDesktop ul {
  list-style-type: none;
  float: left;
}
.menuDesktop ul li {
  float: left;
  padding-left: 8px;
}

@media only screen and (max-width: 768px) {
  .menuDesktop {
    display: none;
  }

  .menuMobileBtdiv {
    display: block;
    position: absolute;
    top: 12px;
    right: 15px;
  }

  .menuMobileBg,
  .menuMobile,
  .menuMobileShow {
    transition: all 0.5s ease-in-out;
  }

  .menuMobileBg {
    display: flex;

    visibility: hidden;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;

    background-color: rgba(0, 0, 0, 0);
  }
}

.menuMobile {
  position: fixed;
  top: 0px;
  right: -200px;

  width: 200px;
  height: 100vh;

  display: flex;
  visibility: hidden;

  justify-content: center;
  padding-top: 50px;
  background-color: white !important;

  border-radius: 20px 0px 0px 0px;
}
.menuMobile li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.menuMobileShow {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
  right: 0px;
}