:root {
  --corFundoFooter: rgb(240, 240, 240);
  --corFonte: navy;

  --altFooter: 20px;
}
.footer {
  display: flex;
  width: 100%;
  height: var(--altFooter);

  margin-top: 10px;

  background-color: var(--corFundoFooter);
  color: var(--corFonte);
  justify-content: center;
  align-items: center;
}
